.curriculum .section-category{
    color : #0189d1;
}

.curriculum .row:last-child .col-12:first-child{
    margin-bottom: 40px;
}
.curriculum .row:first-child{
    margin-bottom: 40px;
}

.curriculum .section-desc{
    margin-bottom: 32px;
}

.curriculum-image{
    display: none;
}

.curriculum-detail-desc{
    font-size: 15px;
    line-height: 1.4666666666;
    letter-spacing: -0.01em;
    color: #2d292d;
}

@media screen and (min-width: 768px) {
    .curriculum .section-desc{
        margin-bottom: 72px;
    }

    .curriculum-image{
        display: block;

    }

    .curriculum-image img{
        width: 100%;
        max-width: 425px;
        height: auto;
    }


    .curriculum-detail-desc{
        font-size: 18px;
        line-height: 1.44444;
    }

    .curriculum .row:first-child{
        margin-bottom: 24px;
    }

    .curriculum .row:last-child .col-12:first-child{
        margin-bottom: 0px;
    }


}